@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.product-categories img {
    width: 100px;
}

.primary-backgroud {
    background-color: #feeae9;
}

.subscribe-center {
    background-color: #feeae9;
    height: 300px;
}

.all-buttons {
    background-image: linear-gradient(#FF589B, #FF136F);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;

}

button:hover {
    background-image: linear-gradient(#FF136F, #FF589B);

}